<h2>Alchemy Effects Randomizer</h2>

<section>
    <h3>Ignore Plugins</h3>
    <ignore-plugins patcher-id="randomizeAlchemyPatcher"></ignore-plugins>
</section>

<hr>
<section>
    <h3>Randomization Type</h3>
    <div title="Randomizer only swaps around effect groups between ingredients.">
        <label><input type="radio" name="randType" ng-model="settings.randomizeAlchemyPatcher.randType" value="groups">Keep Effect Groups (Least random)</label>
    </div>
    <div title="Randomizer will randomly assign effects to ingredients from the loaded pool while following the effect distribution.">
        <label><input type="radio" name="randType" ng-model="settings.randomizeAlchemyPatcher.randType" value="distribution">Keep Effect Distribution (More random)</label>
    </div>
    <div title="Randomizer will ALWAYS randomly assign effects to ingredients from the loaded pool, but will ensure every effect is included at least once.">
        <label><input type="radio" name="randType" ng-model="settings.randomizeAlchemyPatcher.randType" value="inclusion">Ignore Effect Distribution, Ensure Effect Inclusion (Even more random)</label>
    </div>
    <div title="Randomizer will ALWAYS randomly assign effects to ingredients from the loaded pool. WARNING: This may cause certain effects to not be included!">
        <label><input type="radio" name="randType" ng-model="settings.randomizeAlchemyPatcher.randType" value="random">Ignore Effect Distribution Completely (Most random)</label>
    </div>
</section>

<hr>
<section>
    <h3>Misc Settings</h3>
    <label><input type="checkbox" ng-model="settings.randomizeAlchemyPatcher.setEsl">Flag as ESL</label>
</section>
